<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col">
          <h2 class="footer-heading">{{ site.title | escape }}</h2>
        {%- if site.author %}
          <ul class="contact-list">
            {% if site.author.name -%}
              <li class="p-name">{{ site.author.name | escape }}</li>
            {% endif -%}
            {% if site.author.email -%}
              <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
            {%- endif %}
          </ul>
        {%- endif %}
        </div>
        <div class="footer-col">
            <p><iframe width='160' height='400' src='https://leanpub.com/cloud4data/embed' frameborder='0' allowtransparency='false'></iframe><p>
            <p><a href="https://www.noahgift.com/">[WEB]noahgift.com</a></p>
            <p><a href="https://leanpub.com/cloud4data">[BOOK]-Cloud Computing for Data Analysis</a></p>
            <p><a href="https://github.com/noahgift/cloud-data-analysis-at-scale">[COURSE GITHUB]</a></p>
          <p>{{ site.description | escape }}</p>
        </div>
      </div>
  
      <div class="social-links">
        {%- include social.html -%}
      </div>
  
    </div>
  
  </footer>


<div class="page__footer-follow">
<div>

</div>
